.services {
    font-family: 'Noto Sans', sans-serif;

    &__content-title {
        width: 90%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        z-index: 100;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 8px 2px rgba(149, 149, 149, 0.8);
        border-radius: 20px;
    }

    &__logo {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%) translateY(100px);
        width: 110px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__icon-title {
        width: 40px;
    }

    &__description {
        font-size: 20px;
        line-height: 26px;
    }

    &__ul {
        background-color: var(--color-yellow);
        transform: translateY(-100px);
    }

    &__sub-title {
        padding: 100px 15px 15px 15px;
        font-size: 22px;
        font-weight: 700;
        text-align: center;

        &::after {
            content: '';
            display: block;
            height: 2px;
            margin: auto;
            width: 20%;
            background-color: #fff;
            transition: all 0.3s linear;
            transform: translateY(14px);
        }
    }

    &__content-ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 60px;
        row-gap: 20px;
        padding: 30px 15px;
    }

    &__li {
        list-style: none;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::after {
            content: '';
            height: 2px;
            margin: auto;
            width: 15%;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            transition: all 0.3s linear;
            right: 0;
            transform: translateY(5px);
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .services {
        &__title {
            font-size: 40px;
        }

        &__logo {
            width: 200px;
            transform: translateX(50%) translateY(200px);
        }

        &__content-title {
            padding: 40px 30px;
        }

        &__description {
            font-size: 25px;
            line-height: 40px;
        }

        &__ul {
            transform: translateY(-120px);
        }

        &__sub-title {
            padding: 140px 22px 30px 22px;
        }

        &__li {
            font-size: 22px;
            gap: 30px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .services {
        &__content-title {
            width: 70%;
            margin-top: 70px;
        }

        &__description {
            font-size: 25px;
            line-height: 40px;
        }

        &__content-title {
            padding: 60px 40px;
        }

        &__content-ul {
            width: 90%;
            margin: auto;
        }
    }
}

@media screen and (min-width: 1200px) {
    .services {
        &__content-ul {
            width: 50%;
        }
    }
}
