.about-us {
    margin-top: 30px;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;

    &__content {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    &__content-information {
        width: 90%;
        margin: auto;
        background-color: #fff;
        border-radius: 20px;
        margin-top: -60px;
        z-index: 100;
        padding: 20px;
    }

    &__title {
        font-size: 35px;
        font-weight: 600;
        text-align: center;

        @media (min-width: 1300px) {
            font-size: 55px !important;
        }
    }

    &__title-span {
        color: var(--color-green);
    }

    &__description {
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
        text-align: center;
    }

    &__image {
        border-radius: 20px;
    }
}

@media screen and (min-width: 600px) {
    .about-us {
        &__description {
            font-size: 25px;
            line-height: 40px;
        }

        &__title {
            font-size: 40px;
        }

        &__content-information {
            padding: 30px;
        }
    }
}

@media screen and (min-width: 800px) {
    .about-us {
        &__content {
            width: min(80%, 1300px);
        }
    }
}

@media screen and (min-width: 1200px) {
    .about-us {
        &__content {
            flex-direction: row-reverse;
            gap: 20px;
            margin-top: 50px;
        }

        &__content-information {
            width: 50%;
            margin-top: 0;
        }

        &__title,
        &__description {
            width: 85%;
            text-align: left;
        }

        &__title {
            width: 100%;
            font-size: 40px;
        }

        &__description {
            line-height: 40px;
        }
    }
}
