.menu {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: absolute;
    transition: all 0.2s linear;
    display: none;
    top: 0;
    z-index: 0;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;

    &__li,
    &__content-sub-menu {
        border-bottom: 2px solid #fff;
        padding: 10px;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    &__logo {
        width: 80px;
        cursor: pointer;
    }

    &__btn-close {
        background-color: var(--color-green);
        border-radius: 40px;
        cursor: pointer;
        transition: all 0.2s linear;
        padding: 5px;
        width: 40px;

        &:hover {
            background-color: var(--color-green-hover);
            border-radius: 40px;
        }
    }

    &__ul {
        background-color: var(--color-green);
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    &__li {
        display: flex;
        align-items: flex-start;
        align-items: center;
        gap: 7px;
    }

    &__sub-menu {
        display: flex;
        flex-direction: column;
    }

    &__content-sub-menu {
        display: flex;
        align-items: center;
        gap: 7px;
        position: relative;
    }

    &__label-sub-menu {
        color: #fff;
        cursor: pointer;
        position: relative;
    }

    &__link {
        color: #fff;
        text-decoration: none;
        position: relative;

        &--active {
            .sub-menu {
                display: flex;
            }

            .sub-menu__content {
                opacity: 1;
            }

            .menu__icon-arrow {
                transform: rotate(180deg);
            }
        }
    }

    &__icon-arrow {
        width: 25px;
        transition: all 0.3s ease-in-out;
    }

    &--show {
        display: flex;
        z-index: 1100;
        animation: showMenu 0.5s;

        .menu__link {
            animation: animationItemsMenu 0.7s;
        }

        .menu__label-sub-menu {
            animation: animationItemsMenu 0.7s;
        }
    }

    &--hidden {
        display: none;
    }

    &--animation-closed {
        animation: hiddeMenu 0.5s;
    }
}

@keyframes showMenu {
    from {
        left: 1000px;
    }

    to {
        left: 0;
    }
}

@keyframes hiddeMenu {
    from {
        left: 0;
    }

    to {
        left: 1000px;
    }
}

@keyframes animationItemsMenu {
    from {
        left: 300px;
    }

    to {
        left: 0;
    }
}

@media screen and (min-width: 1100px) {
    .menu {
        display: none;
    }
}
