.sub-menu {
    z-index: 500;
    display: none;

    &__content {
        transition: all 0.2s linear;
        height: 100%;
        background-color: var(--color-green);
        opacity: 0;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 5px;
    }

    &__link {
        text-decoration: none;
        color: #fff;
        margin-left: 10px;
        padding: 5px 10px;
        transition: all 0.2s ease-in-out;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
            color: var(--color-footer);
        }

        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }

    &__icon {
        width: 30px;
    }
}

@media screen and (min-width: 1000px) {
    .sub-menu {
        position: absolute;
        width: 180%;
        visibility: hidden;
        display: block;

        &__content {
            width: 300px;
            box-shadow: 0px 4px 7px 2px #fff;
            margin-top: 24px;
        }

        &__link {
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
}
