.socials-values {
    margin: 40px 0;
    font-family: 'Noto Sans', sans-serif;

    &__content {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    &__content-cards {
        display: grid;
        gap: 45px;
    }

    &__title {
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        padding: 30px 2px;
        background-color: var(--color-yellow);
        color: var(--color-footer);
        border-radius: 30px 0 30px 0;
    }

    &__ul {
        display: grid;
        padding: 30px 0;
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 15px;
    }

    &__li {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 10px;

        &--yellow {
            .socials-values__icon-li {
                background-color: var(--color-yellow);
            }
        }
    }

    &__icon-li {
        background-color: var(--color-green);
        border-radius: 10px;
    }

    &__description {
        padding: 20px;
    }

    &__li {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (min-width: 600px) {
    .socials-values {
        &__li {
            font-size: 22px;
            line-height: 32px;
        }

        &__title {
            font-size: 40px;
            padding: 60px 0;
            border-radius: 100px 0 100px 0;
        }

        &__content {
            margin-top: 40px;
        }
    }
}

@media screen and (min-width: 800px) {
    .socials-values {
        &__content-cards {
            grid-template-columns: 1fr 1fr;
        }

        &__card {
            &--expand {
                grid-column: span 2;
            }
        }

        &__ul {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }
    }
}

@media screen and (min-width: 1000px) {
    .socials-values {
        margin-top: 80px;

        &__content-cards {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 60px;
        }

        &__ul {
            width: 80%;
            gap: 30px;
            padding: 60px 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .socials-values {
        &__ul {
            width: 60%;
        }
    }
}
