.footer {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    margin-top: 60px;
    background-color: var(--color-footer);

    &--service-page {
        margin-top: 0;
    }

    &__content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: var(--color-footer);
    }

    &__ubication {
        width: 90%;
        margin: auto;
        font-size: 16px;
        line-height: 26px;
        text-align: center;

        @media (min-width: 1000px) {
            font-size: 20px;
        }
    }

    &__copyright {
        text-align: center;
        opacity: 0.7;

        @media (min-width: 1000px) {
            font-size: 18px;
        }
    }

    &--ahorro-page {
        margin-top: 0 !important;
    }
}

@media screen and (min-height: 900px) {
    .footer {
        &--service-page {
            height: 100%;
            display: flex;
            background-color: transparent;

            .footer__content {
                align-self: flex-end;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .footer {
        &__content-media-socials {
            display: flex;
        }

        &__media-socials {
            padding: 0 20px !important;
        }

        &__span {
            display: block;
            background-color: #fff;
            height: 2px;
            flex-grow: 1;
            align-self: flex-end;
            transform: translateY(-10px);
        }
    }
}

@media screen and (min-width: 800px) {
    .footer {
        margin-top: 100px;

        &__content {
            width: 70%;
            margin: auto;
            padding: 30px;
        }

        &--service-page {
            background-color: var(--color-footer);
        }
    }
}
